<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joe's Theater</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="jumbotron mx-auto" style="text-align: center; background-color: rgb(236, 235, 235);">
                <h1>Joe's Theater</h1>
                <p>Where we show only the top {{numMovies}} movies</p>
            </div>
        </div>
        
        <div class="d-flex p-2 bd-highlight" style="justify-content: center;">
                <div v-for="i in numMovies" class="card" style="width: 18rem;">
                    <img v-bind:src="getImage(i-1)" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{moviesObject.results[i-1].title}}</h5>
                        <div class="btn-group">
                            <a v-on:click="addChild(moviesObject.results[i-1].title)" class="btn btn-primary" style="color: white;">Buy Child Ticket</a>
                            <a v-on:click="addAdult(moviesObject.results[i-1].title)" class="btn btn-secondary" style="color: white;">Buy Adult Ticket</a>
                        </div>
                        <p class="card-text">{{moviesObject.results[i-1].overview}}</p>
                        
                    </div>
                </div>
        </div>
        <div class="container">
        <div v-if="seen" class="d-flex p-2 bd-highlight mx-auto" style="width: 80%;">
            <table class="table" >
                <thead>
                  <tr>
                    <th scope="col">Movie</th>
                    <th scope="col">Adult Tickets ${{adultPrice}}</th>
                    <th scope="col">Child Tickets ${{childPrice}}</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="i in moviesCnt">
                    <th scope="row">{{moviesPurch[i-1]}}</th>
                    <td><p v-if="show1[i-1]">{{adultTickets[i - 1]}} <button v-on:click="minusAdult(i-1)" type="button" class="btn btn-primary btn-sm">-</button></p></td>
                    <td><p v-if="show2[i-1]">{{childTickets[i - 1]}} <button v-on:click="minusChild(i-1)"type="button" class="btn btn-primary btn-sm">-</button></p></td>
                    <td>{{ticketTotal[i - 1]}}</td>
                    <td>
                        <div class="btn-group">
                        <a v-on:click="removeMovie(i-1)" class="btn btn-primary" style="color: white;">Remove</a></div>
                    </td>
                  </tr>
                  <tr v-if="showTotals[0]">
                      <td></td>
                      <td></td>
                      <td>Adult Subtotal: </td>
                      <td>
                        {{adultSubtotal}}
                      </td>
                      <td> </td>
                  </tr>
                  <tr v-if="showTotals[1]">
                    <td></td>
                    <td></td>
                    <td>Child Subtotal: </td>
                    <td>
                      {{childSubtotal}}
                    </td>
                    <td> </td>
                </tr>
                <tr style="background-color: rgb(236, 235, 235);">
                    <td></td>
                    <td></td>
                    <td>Total: </td>
                    <td style="text-decoration: underline;">
                      {{subtotal}}
                    </td>
                    <td> </td>
                </tr>
                </tbody>
              </table>
        </div>
        </div>


    <script src="Script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>